
.navbar {
    background-color: rgb(251, 251, 251);
    align-items: center;
    height: 70px;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 100;
    justify-content: center;
}

.userDropdown {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.navbar img {
    height:26px;
    width:26px; 
    border-radius:20px;
}
.userDropdown .userDropdowne {
    margin-top: -9px;
}
.iconsWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.iconsWrapper .navlink {
    margin-top: -9px;
}
