
.navbar {
    background-color: rgb(251, 251, 251);
    display: flex !important;
    align-items: center !important;
    height: 40px;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 100;
    justify-content: center !important;
}
.navbar svg {
    margin-top: -2px;
}

.userDropdown {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 9px;
}

.userDropdown .dropIcon{
    height: 15px;
    width: 15px;
}
.navbar .userDropdown .userImg{
    height:20px;
    width:20px; 
    border-radius:20px;
}
.userDropdown .userDropdowne {
    margin-top: -8px;
    margin-left: 8px;
}
.iconsWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.iconsWrapper .navlink {
    margin-top: -9px;
    font-size: 10px;
}

.iconsWrapper img {
    height: 15px;
    width: 15px;
}

a::after{
   visibility: hidden;
}
.navbar-light .navbar-nav .userDropdown .nav-link{
    font-size: 10px;
}

.searchBar {
    max-height: 100px;
    height: 25px;
    border:transparent;
    background-color: #EEF3F8;
    margin-top: -2px;
    text-align:left;
}
.collapsed{
    height: 30px;
    width: 30px;
    margin-top: -6px;
}
.collapsed .navbar-toggler-icon {
    height: 30px;
    width: 30px;
    margin-top: -6px;
    margin-left: -13px;
}
.searchBar::placeholder{
    color: #5f6163de;
    font-size: 14px;
    padding: 0 8px 0 40px;
}
.searchBar:focus{
   width: 280px;
   border-color: rgb(161, 160, 160);
}
.searchForm img{
    position: absolute;
    left: 63px;
    top: 9px;
}
.searchForm{
    left: 63px;
    top: 4px;
}

