.postContainer {
  display: flex;
  flex-direction: column;
}
.newPost {
  background-color: #ffffff;
  border-color: rgb(189, 185, 184);
  height: 30px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight:500;
  font-size: 10px;
  border-radius: 20px;
  color: rgba(56, 54, 54, 0.849);
}
.newPost:hover {
  background-color: #ebebeb;
  border-color: rgba(46, 45, 45, 0.705);
  color: rgba(56, 54, 54, 0.911);
}
.generateNewPostContainer {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 4px;
  background-color: white;
  margin-bottom: 20px;
}
.picAndButton {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0px;
  height: 50%px;
}
.generateNewPostContainer img {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  margin: 8px;
}
.buttonsGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.buttonsGroup .button {
  height: 30px;
  width: 25%;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.buttonsGroup .button p {
  color: rgba(56, 54, 54, 0.781);
  font-size: 10px;
  font-weight:500;
  margin-top: 7px;
}
.buttonsGroup .button img {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  margin: 4px;
}
.buttonsGroup .button:hover {
  background-color: #ebebeb;
  border-radius: 4px;
  cursor: pointer;
}

 /* card style */
.cardBody{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgba(47, 46, 46, 0.253);
    background-color: white;
}
.cardBody img {
    height: 250px;
    width: 100%;
}
.infoContainer {
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1px;
}
.name {
   font-size: 15px;
   font-weight:500;
   margin: 15px 0 20px 0;
}
.info {
    font-size: 12px;
    font-weight:300;
}
.infoContainer div {
    min-height: 30px;
}
.cardBody .post {
    margin: 0 20px 10px 20px
}