.jumbocontainer {
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(146, 142, 142, 0.157);
}
.backgroundImg{
    height:138px; 
    width:100%;
}
.backgroundImg img {
    max-height:100%;
     width:100%;
     object-fit: cover;
}

.listgroup {
    display: flex;
    align-items: flex-start;
    margin-top: 0px;
    margin-left: 10px;
}
.listgroup p:nth-child(1) {
    background-color: white;
    font-size:20px;
    font-weight:bold;
   
}
.listgroup p:nth-child(2) {
    background-color: white;
    font-size:14px;
    margin-top: -20px;
    
}
.listgroup p:nth-child(3) {
    background-color: white;
    font-size:12px;
    font-weight:20px;
    margin-top: -18px;
    color: rgba(0, 0, 0, 0.561);
}
.jumbocontainer button {
    background-color:#004182e8 ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 20px;
}
.jumbocontainer button:nth-child(2) {
    color:white;
    border-radius: 20px;
}
.jumbocontainer button:nth-child(3) {
    color:white;
    border-radius: 20px;
}
button:hover{
    background-color: #1c70c5e8;
}
.listgroup p:hover{
    text-decoration: underline;
}